@use '../../../../shared/styles/main' as *;

.mongo {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  p:nth-child(1) {
    margin-bottom: 0;
    line-height: 1.3;
  }

  p:nth-child(2) {
    margin-top: 0;
    line-height: 1.3;
  }

  pre {
    margin: 0;
    text-align: left;
    align-self: flex-start;
  }
  &__code {
    color: #216d77e3;
    display: block;
    padding: 12px;
    line-height: 1.3;
    font-family: 'Courier New', monospace;
    font-size: 0.9rem;
    white-space: pre-wrap;
    text-align: left;
    border-left: 3px solid transparent;
    background: linear-gradient(90deg, rgba(39, 134, 146, 0.1), rgba(0, 255, 255, 0.08));
    transition: all 0.5s ease-in-out;

    &:hover {
      border-left: 3px solid #00eaff;
    }
  }
}
@media (max-width: 750px) {
  .mongo {
    p {
      font-size: 14px;
    }

    code {
      display: flex;
      padding: 5px;
      font-size: 12px;
      border-left: 2px solid transparent;

      &:hover {
        border-left: 2px solid #00eaff;
      }
    }
  }
}
@media (max-width: 750px) {
  .mongo {
    code {
      white-space: pre-wrap;
      word-break: break-word;
    }
  }
}
