 .floating-container {
     display: flex;
     width: 95%;
     height: 90%;
     box-shadow: 0 0 30px rgba(159, 157, 157, 0.3);
     position: relative;
     border-radius: 10px;
     padding: 5px;
     overflow: auto;
     text-align: center;
     background-color: var(--background-color-light);
     z-index: 1;

     .content {
         overflow: auto;
         margin: 0 10x;
         padding: 10px;
         border-radius: 8px;
         scrollbar-width: thin;
         scrollbar-color: var(--main-color) rgb(207, 206, 206);
         scroll-behavior: smooth;

         &::-webkit-scrollbar {
             width: 10px;
         }

         &::-webkit-scrollbar-track {
             background: red;
             border-radius: 10px;
         }

         &::-webkit-scrollbar-thumb {
             background: red;
             border-radius: 10px;

             &:hover {
                 background: #555;
             }
         }
     }
 }

 @media all and (max-width: 1050px) {
     .floating-container {
         overflow: visible;
         height: auto;
         margin: 2% 0;
         box-shadow: 0 0 10px rgba(159, 157, 157, 0.3);
     }

     .floating-container .content {
         overflow: visible;
         margin-top: 9vh;
     }
 }

 @media all and (max-width: 750px) {
     .floating-container .content {
         overflow: visible;
         margin-top: 7vh;
     }
 }