 .floating-container {
     display: flex;
     width: 95%;
     height: 90%;
     box-shadow: 0 0 30px rgba(159, 157, 157, 0.3);
     position: relative;
     border-radius: 5px;
     padding: 5px;
     overflow: auto;
     text-align: center;
     background-color: var(--background-color-light);
     z-index: 1;

     .content {
         overflow: auto;
         margin: 0 10x;
         padding: 10px;
         border-radius: 8px;
         scrollbar-width: thin;
         scrollbar-color: var(--main-color) rgb(207, 206, 206);
         //  display: flex;
         //  justify-content: center;
         scroll-behavior: smooth;
         //  flex-direction: column;

         &::-webkit-scrollbar {
             width: 10px;
         }

         &::-webkit-scrollbar-track {
             background: red;
             border-radius: 10px;
         }

         &::-webkit-scrollbar-thumb {
             background: red;
             border-radius: 10px;

             &:hover {
                 background: #555;
             }
         }

         .about_img_div {
             display: flex;
             flex-direction: row;
             justify-content: space-between;


         }
     }
 }

 .about_pic {
     display: none;
     border-radius: 40%;
     margin: 4%;
 }

 span {
     color: var(--main-color);
     background: linear-gradient(135deg, rgba(201, 202, 200, 0.3) 0%, rgba(120, 204, 109, .01) 100%);
     padding: 4px 2px 4px 20px;
     border-radius: 50%;
 }

 @media all and (max-width: 1050px) {
     .floating-container {
         overflow: visible;
         height: auto;
         margin: 2% 0;
         box-shadow: 0 0 10px rgba(159, 157, 157, 0.3);

     }

     .floating-container .content {
         overflow: visible;
         margin-top: 9vh;
     }

     .floating-container .about_pic {
         display: block;
         height: 30vh;
     }
 }

 @media all and (max-width: 750px) {
     .floating-container .content {
         overflow: visible;
         margin-top: 7vh;
     }

     .floating-container .about_pic {
         height: 15vh;
     }
 }