.navigation {
  display: flex;
  width: 200px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px 10px;
  box-shadow: 0 0 50px rgba(159, 157, 157, 0.3);
  height: 95vh;
  border-radius: 10px;
  position: relative;

  .nav_intro_div {
    width: 200px;

    .nav_pic {
      height: 130px;
      border-radius: 50px;
      margin: 6%;
    }
  }

  .menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    width: 100%;
    cursor: pointer;
    transition: color 0.3s ease;

    &:hover {
      color: var(--main-color);
    }

    svg {
      margin-bottom: 2px;
      font-size: 25px;
    }
  }

  .active {
    color: var(--main-color);

    svg {
      fill: var(--main-color);
    }
  }
}

@media all and (max-width: 1050px) {
  .navigation {
    flex-direction: row;
    position: fixed;
    top: 0;
    height: 9%;
    width: 100%;
    z-index: 1;
    box-shadow: 0 0 10px rgba(159, 157, 157, 0.3);
    background-color: rgb(244, 237, 244);
    border-radius: 0 0 20px 20px;

    .nav_intro_div {
      min-width: 160px;
      margin: 0 10%;

      .nav_pic {
        display: none;
      }
    }
  }
}

@media all and (max-width: 750px) {
  .navigation {
    height: 7%;
  }

  .navigation .nav_intro_div {
    margin: 0;
  }

  .name_div {
    font-size: 10px;
  }

  .navigation .menu-item {
    font-size: 10px;

    svg {
      margin-bottom: 1px;
      font-size: 15px;
    }
  }
}