/* font size
big screen:header: 19px;
medium screen: 
small screen- below 750px:  font-size: 14px / 13px; /     icon_button:10px*/
/* Margin between the title + item below on the page and the last item + bottom of the page: 30px.*/

$background-color-light: rgb(241, 247, 247);
$text-color-light: black;
$background-color-dark: rgb(63, 63, 63) !default;
$text-color-dark: rgba(218, 213, 213, 0.842);
$main-color: #33b4c5e3;
