:root {
  --background-color-light: white;
  --text-color-light: black;
  --background-color-dark: rgb(48, 48, 48);
  --text-color-dark: white;
  --box-shadow-dark: white;
  --box-shadow-light: gray;
  --main-color: #ee4040;
}

* {
  box-sizing: border-box;
}

body.light-mode {
  background-color: var(--background-color-light);
  color: var(--text-color-light);
}

body.dark-mode .navigation {
  background-color: rgb(70, 70, 79);
  color: var(--text-color-dark);
}

body.dark-mode {
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
}

.app_container {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: center;
  height: 100vh;
  margin: 0;
}

.route_container {
  overflow: hidden;
  display: flex;
  height: 100%;
  width: 70%;
  justify-content: center;
  align-items: center;
}

@media all and (max-width: 1050px) {
  .app_container {
    height: auto;
    flex-direction: column;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--main-color) rgb(207, 206, 206);
    scroll-behavior: smooth;

  }

  .route_container .small-screen {
    flex-direction: row;
  }

  .route_container {
    height: auto;
    width: 95%;
    overflow: visible;
    flex-direction: column;
  }
}