.app_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: center;
  height: 100vh;
  margin: 0;
}

.route_container {
  overflow-x: hidden;
  display: flex;
  height: 90%;
  width: 70%;
  justify-content: center;
  align-items: center;
}

@media all and (max-width: 1050px) {
  .app_container {
    height: auto;
    /* change later to 100vh */
    flex-direction: column;
    overflow: auto;
    scroll-behavior: smooth;
  }

  .route_container {
    width: 92%;
    overflow-x: visible;
    flex-direction: column;
  }
}
