@use '../../../../shared//styles//main' as *;

.case_study__table {
  border-radius: 10px;
  width: 98%;
  margin: auto;
  box-shadow: 0 0 10px rgba(112, 110, 110, 0.9);

  table {
    border-collapse: separate;
    border-spacing: 0;

    th {
      border: 1px solid #ddd;
      padding: 8px;
      word-break: break-word;
      overflow-wrap: break-word;
      border-radius: 10px;
      font-weight: 500;
      background: linear-gradient(0deg, rgb(185, 238, 245), $main-color);
      width: 32%;
    }

    td {
      // automatische silbentrennung
      word-break: break-word;
      overflow-wrap: break-word;
      vertical-align: top;
      text-align: left;
      line-height: 1.3;
      padding: 2rem;
      border: 1px solid #ddd;
      padding: 8px;
    }
  }
}

@media (max-width: 750px) {
  .case_study__table {
    width: 100%;

    table {
      width: 100%; // this makes it fill the wrapper
      table-layout: fixed;

      th {
        font-weight: 300;
        font-size: 13px;
      }

      td {
        font-size: 14px;
        padding: 1rem;
      }
    }
  }
}
